p {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header img {
  width: 20%;
}

.title {
  font-family: "Playfair Display", Arial;
  font-size: 64px;
  line-height: 80px;
  width: 50%;
  margin: 32px auto;
}

.subtitle {
  width: 24%;
  margin-bottom: 100px;
}

/* automatic carousel */
.slider-container {
  display: grid;
  place-items: center;
}

.slider {
  height: auto;
  margin: 0;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.slide-track {
  display: flex;
  width: calc(600px * 10);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px * 5));
  }
}

.slide {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.slide img {
  width: 100%;
}

/* sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  width: 40%;
  margin: auto;
}

.heading {
  color: #FFDB80;
  margin-top: 100px;
}

.subheading {
  font-family: "Playfair Display", Arial;
  font-size: 40px;
  line-height: 48px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  margin: 32px auto;
  row-gap: 8px;
}

.contact-grid p {
  text-align: left;
}

.link {
  font-size: 16px;
}

.link a {
  color: white;
  text-underline-offset: 0.2em;
}

/* content */
.video-container,
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video,
.image {
  width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 1180px) {
  .title,
  .subtitle,
  .section,
  .contact-grid {
    width: 60%;
  }
}

@media only screen and (max-width: 920px) {
  .title,
  .subtitle,
  .section,
  .contact-grid {
    width: 80%;
  }
}