/* header */
.header-container {
  width: 820px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin: auto;
  margin-bottom: 128px;
}

.header {
  font-family: "Playfair Display", Arial;
  font-size: 40px;  
}

.caption {
  font-size: 24px;
}

/* project */
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;

  width: 912px;
  margin: 0 auto;
}

.project-grid a {
  color: inherit;
  text-decoration: none;
}

.card {
  width: 80%;
  margin: auto;
}

.card:hover {
  width: 85%;
  transition: 0.2s;
}

.thumbnail {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .header-container {
    width: 80%;
    margin: 128px auto;
  }

  .project-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card {
    width: 80%;
  }
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.project-caption {
  font-size: 16px;
}