body {
  margin: 0 0 64px 0;
}

.header {
  position: relative;
  display: flex;
}

.image-container {
  width: 100%;
  display: flex;
  place-content: center;
  position: relative;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #202020cc, transparent 50%, #202020cc);
}

.content-container {
  width: 100%; height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 5.5vw;
  margin-bottom: 16px;
}

.content p {
  width: 70%;
  font-size: 1.5vw;
  line-height: 1.8vw;
  margin: 0 auto;
}

.caption {
  font-weight: bold;
  padding-bottom: 32px;
}

/* scene grid */
.scene-container {
  font-weight: bold;
  margin: 32px;
}

.scene-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  padding: 0 64px;
  overflow: hidden;
}

.scene-grid .video {
  width: 100%;
  transition: transform 0.3s ease;
}

.scene-grid .video:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.scene-grid p {
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 900px) {
  .scene-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .image-container {
    height: 300px;
  }
  .scene-grid {
    grid-template-columns: 1fr;
  }
  .content {
    width: 100%;
  }
  h1 {
    font-size: 8vw;
    margin-bottom: 0;
  }
  .content p {
    width: 70%;
    font-size: 2.5vw;
    line-height: 2.8vw;
    margin: 0 auto;
  }
}

.popup-video {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  width: 100%; height: 100%;
  display: none; /* video hidden by default */
  justify-content: center;
  align-items: center;
  margin: auto;
}

.popup-video video {
  height: 80%;
}

.popup-video span {
  position: absolute;
  top: 12px; right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}